.home {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.home p {
    font-size: 26px;
    max-width: 500px;
    text-align: center;
}