.topics-overview{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.topics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style: none;
}

.topics button {
  width: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.topics .title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 1px #fff;
}

.topics button:hover .title {
  box-shadow: inset 0 0 0 1vw #fff;
}

.topics h2 {
  font-size: 22px;
  width: 80%;
}

@media (max-width: 900px) {
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  .topics h2 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
  }

  .topics h2 {
    font-size: 14px;
  }
}